<p id="notice"><%= notice %></p>

<h1>Listing Anime Staff Rolls</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Name yomi</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @anime_staff_rolls.each do |anime_staff_roll| %>
      <tr>
        <td><%= anime_staff_roll.name %></td>
        <td><%= anime_staff_roll.name_yomi %></td>
        <td><%= link_to 'Show', anime_staff_roll %></td>
        <td><%= link_to 'Edit', edit_anime_staff_roll_path(anime_staff_roll) %></td>
        <td><%= link_to 'Destroy', anime_staff_roll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Anime staff roll', new_anime_staff_roll_path %>
