<p id="notice"><%= notice %></p>

<p>
  <strong>Tid:</strong>
  <%= @anime_title.tid %>
</p>

<p>
  <strong>Title:</strong>
  <%= @anime_title.title %>
</p>

<p>
  <strong>Short title:</strong>
  <%= @anime_title.short_title %>
</p>

<p>
  <strong>Title yomi:</strong>
  <%= @anime_title.title_yomi %>
</p>

<p>
  <strong>Title en:</strong>
  <%= @anime_title.title_en %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @anime_title.comment %>
</p>

<p>
  <strong>Cat:</strong>
  <%= @anime_title.cat %>
</p>

<p>
  <strong>Title flag:</strong>
  <%= @anime_title.title_flag %>
</p>

<p>
  <strong>First year:</strong>
  <%= @anime_title.first_year %>
</p>

<p>
  <strong>First month:</strong>
  <%= @anime_title.first_month %>
</p>

<p>
  <strong>First end year:</strong>
  <%= @anime_title.first_end_year %>
</p>

<p>
  <strong>First end month:</strong>
  <%= @anime_title.first_end_month %>
</p>

<p>
  <strong>First chid:</strong>
  <%= @anime_title.first_chid %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @anime_title.keywords %>
</p>

<p>
  <strong>User point:</strong>
  <%= @anime_title.user_point %>
</p>

<p>
  <strong>User point rank:</strong>
  <%= @anime_title.user_point_rank %>
</p>

<p>
  <strong>Last update:</strong>
  <%= @anime_title.last_update %>
</p>

<%= link_to 'Edit', edit_anime_title_path(@anime_title) %> |
<%= link_to 'Back', anime_titles_path %>
